name: CI
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        node_version: [20, 22, 24]
    name: Test ${{ matrix.os }} node${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
          cache-dependency-path: |
            package-lock.json
            example/package-lock.json
      - run: npm ci
      - run: npm test
      - run: npm pack --dry-run
      # React native example
      - working-directory: ./example-rn
        run: npm icon
      - uses: actions/upload-artifact@v6
        with:
          name: example-rn-android-${{ matrix.os }}-node${{ matrix.node_version }}
          path: example-rn/android/app/src/main/res/
      - uses: actions/upload-artifact@v6
        with:
          name: example-rn-ios-${{ matrix.os }}-node${{ matrix.node_version }}
          path: example-rn/ios/SvgAppIconExample/Images.xcassets/AppIcon.appiconset/
