name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
    tags:
      - "v*"

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        node_version: [20, 22, 24]
    name: Test ${{ matrix.os }} node${{ matrix.node_version }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node_version }}
          cache: npm
          cache-dependency-path: |
            package-lock.json
            example/package-lock.json
      - run: npm ci
      - run: npm test

  publish:
    needs: test
    runs-on: ubuntu-latest
    name: Publish
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
          cache: npm
      - run: npm ci
      - if: github.event_name != 'push' || github.ref_type != 'tag'
        run: npm publish --dry-run
      - if: github.event_name == 'push' && github.ref_type == 'tag'
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
